* {
    box-sizing: border-box;
}
body{
	font-family: sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
    overflow-x: hidden;
    background: #EBEDEF;
    background-image: url('https://bitbucket.org/cps491s22-team3/cps491s22-team3.bitbucket.io/downloads/background2.jpg');
    background-size: cover;
}

/* Utility classes */
.container-full-width{
    width: 100%;
    margin: auto;
    display: block;
    padding: 40px 15px;
}
.container{
	max-width: 1000px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    /* text-transform: uppercase; */
    text-align: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.title2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    /* text-transform: uppercase; */
    text-align: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    color: black;
    font-weight: 400;
    /* text-shadow: 2px 2px 3px #000; */
}
.subtitle span{
    color: #17A05D;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0 0 0 #000;
}
.name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.one-fourth{
	width: 100%;
	float: left;
}
@media (min-width: 768px) {
    .one-fourth{
        width: 25%;
    }
}
img{
	max-width: 100%;
	margin: auto;
	display: block;
}
.profile-photo{
    cursor: pointer;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, black, black);
    border-image-slice: 1;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.ui-close-holder{
    text-align: center;
}
.ui-close{
	font-weight: 400;
	font-size: 2rem;
    color: transparent;
	background-color: rgba(0, 0, 0, .2);
    background-image: url("https://bitbucket.org/cps491s22-team3/cps491s22-team3.bitbucket.io/downloads/times-solid.svg");    
	padding: 3px 10px;
	cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-grey{
    background: #222222;
}
.bg-dark{
    background: #87CEFA;
}
.margin-t-narrow{
    margin-top: 30px;
}
.margin-b-narrow{
    margin-bottom: 30px;
}
.orange{
    color: #FF9800;
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.red{
    color: #DD5044;
}
.green{
    color: #1DA261;
}
.main_topic__headline{
    color: #FFF;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 0;
}
.topic__headline{
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 0;
}
.topic__description{
    color: black;
    font-weight: 400;
    font-size: 17px;
    /* text-shadow: 2px 2px 2px #000; */
    line-height: 1.7em;
}
.text-right{
    text-align: right;
}
a{
    color: 	#1E90FF;
}
.center{
    text-align: center;
}
.italic{
    font-style: italic;
}
/*============================= GENERAL STYLE ABOVE =========================*/

.popup-outer{
	display: none;
	position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    overflow: scroll;
    max-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    border-style: solid;
    border-width: 30px;
    border-color: hsla(0, 0%, 100%, 0.97);
    background-color: hsla(0, 0%, 91%, 0.96);
	}
.popup-inner{
	position: relative;
    display: block;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 37px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
	}
.popup-inner p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
}

/*============================================== THE END ==============================*/